/* 公共样式表 */
.clearfix::before,
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

body{
    font: 14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    color: #333333;
}
