/* 主页index.html的样式表 */
/* 顶部导航条的容器 */
.topbar-wrapper{
    /* 设置宽度是全屏 */
    width: 100%;
    /* 设置高度和行高 */
    height: 40px;
    line-height: 40px;
    /* 设置背景颜色 */
    background-color: #333333;
}
/* 设置超链接的颜色 */
.topbar a{
    display: block;
    font-size: 12px;
    color: #b0b0b0;
}
/* 超链接移入的效果 */
.topbar a:hover{
    color: #fff;
}
/* 设置中间的分割线 */
.topbar .line{
    font-size: 12px;
    color: #424242;
    margin: 0 8px;
    margin-top: -1px;
}
/* 设置左侧导航栏 */
.service,
.topbar li{
    float: left;
}
/* 开启相对定位 */
.app{
    position: relative;
}
/* 设置app下的小三角 */
/* .app-wrapper:hover .app::after{ */
    .app::after{
    content: '';
    display: none;
    /* 设置绝对定位 */
    position: absolute;
    bottom: 0;
    /* 设置水平居中 */
    left: 0;
    right: 0;
    margin: auto;
    line-height: 1;
    width: 0;
    height: 0;
    /* 设置4个边框 */
    border: 8px solid transparent;
    /* 去除上边框 */
    border-top: none;
    /* 单独设置下边框的颜色 */
    border-bottom-color: #fff;
}
.app:hover .qrcode,
.app:hover::after{
    display: block;
    height: 148px;
}
/* li:hover > .app .qrcode{
    display: block;
} */
/* 设置下载app的下拉 */
.app .qrcode{
        /* 设置隐藏 */
    /* display: none; */
    position: absolute;
    left: 22px;
    margin-left: -62px;
    width: 124px;
    /* height: 148px; */
    height: 0;
    overflow: hidden;
    line-height: 1;
    text-align: center;/* 水平居中 */
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    /* transition: ;用于为样式设置过渡效果 */
    transition: height 0.3s;
}

/* 设置二维码图片 */
.app .qrcode img{
    width: 90px;
    margin: 17px;
    margin-bottom: 10px;
}
/* 设置二维码下的文字 */
.app .qrcode span{
    font-size: 14px;
    color: #000;
}
/* 设置右侧导航栏 */
.shop-cart,
.user-info{
    float: right;
}
.shop-cart{
    margin-left: 26px;
}
/* 设置购物车的样式 */
.shop-cart a{
    width: 120px;
    background-color: #424242;
    /* 设置水平居中 */
    text-align: center;
}
.shop-cart:hover a{
    color: #ff6700;
    background-color: #fff;
}
.topbar i{
    margin-right: 2px;
}