/* 主页index.html的样式表 */
/* 顶部导航条的容器 */
.topbar-wrapper{
    /* 设置宽度是全屏 */
    width: 100%;
    /* 设置高度和行高 */
    height: 40px;
    line-height: 40px;
    /* 设置背景颜色 */
    background-color: #333333;
}
/* 设置超链接的颜色 */
.topbar a{
    display: block;
    font-size: 12px;
    color: #b0b0b0;
}
/* 超链接移入的效果 */
.topbar a:hover{
    color: #fff;
}
/* 设置中间的分割线 */
.topbar .line{
    font-size: 12px;
    color: #424242;
    margin: 0 8px;
    margin-top: -1px;
}
/* 设置左侧导航栏 */
.service,
.topbar li{
    float: left;
}
/* 开启相对定位 */
.app{
    position: relative;
}
/* 设置app下的小三角 */
/* .app-wrapper:hover .app::after{ */
    .app::after{
    content: '';
    display: none;
    /* 设置绝对定位 */
    position: absolute;
    bottom: 0;
    /* 设置水平居中 */
    left: 0;
    right: 0;
    margin: auto;
    line-height: 1;
    width: 0;
    height: 0;
    /* 设置4个边框 */
    border: 8px solid transparent;
    /* 去除上边框 */
    border-top: none;
    /* 单独设置下边框的颜色 */
    border-bottom-color: #fff;
}
.app:hover .qrcode,
.app:hover::after{
    display: block;
    height: 148px;
}
/* li:hover > .app .qrcode{
    display: block;
} */
/* 设置下载app的下拉 */
.app .qrcode{
        /* 设置隐藏 */
    /* display: none; */
    position: absolute;
    left: 22px;
    margin-left: -62px;
    width: 124px;
    /* height: 148px; */
    height: 0;
    overflow: hidden;
    line-height: 1;
    text-align: center;/* 水平居中 */
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    /* transition: ;用于为样式设置过渡效果 */
    transition: height 0.3s;
}

/* 设置二维码图片 */
.app .qrcode img{
    width: 90px;
    margin: 17px;
    margin-bottom: 10px;
}
/* 设置二维码下的文字 */
.app .qrcode span{
    font-size: 14px;
    color: #000;
}
/* 设置右侧导航栏 */
.shop-cart,
.user-info{
    float: right;
}
.shop-cart{
    margin-left: 26px;
}
/* 设置购物车的样式 */
.shop-cart a{
    width: 120px;
    background-color: #424242;
    /* 设置水平居中 */
    text-align: center;
}
.shop-cart:hover a{
    color: #ff6700;
    background-color: #fff;
}
.topbar i{
    margin-right: 2px;
}
.header-wrapper{
    position: relative;
}

/* 设置中间的header */
.header{
    height: 100px;
}
/* 设置logo中h1的样式 */
.header .logo{
    float: left;
    margin-top: 22px;  
    width: 55px;
    height: 55px; 
    position: relative;
    overflow: hidden;
    /* 隐藏logo中的文字 */
    text-indent: -9999px;
}
/* 统一设置logo的超链接 */
.header .logo a{
    position: absolute;
    width: 55px;
    height: 55px; 
    background-color: #ff6700;
    background-image: url(../img/mi-logo.png);
    background-position: center; 
    left: 0;
    transition: left 0.3s;
}
/* 设置home图标 */
.header .logo .home{
    background-image: url(../img/mi-home.png);
    left: -55px;
}
/* 设置鼠标移入后，两个图标的位置 */
.header .logo:hover .mi{
    left: 55px;
}
.header .logo:hover .home{
    left: 0;
}

/* 设置中间导航条 */
.header .nav-wrapper{
    float: left;
    margin-left: 7px;
}
.header .nav{
    /* width: 792px; */
    height: 100px;
    /* 文字垂直居中 */
    line-height: 100px;
    padding-left: 58px;
}

/* 设置导航条中的li */
.nav > li{
    float: left;
}
.all-goods-wrapper{
    position: relative;
    background-color: red;
}
/* 设置左侧导航条的样式 */
.left-menu{
    width: 234px;
    height: 420px;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    z-index: 999;
    left: -120px;
    line-height: 1;
}
ul .left-menu li a{
    display: block;
    height: 42px;
    line-height: 42px;
    color: white;
    margin-right: 0;
    font-size: 14px;
}
ul .left-menu li a:hover{
    color: white;
    background-color: #ff6700;
}
.left-menu a i{
    float: right;
    line-height: 42px;
}
.nav-wrapper li a{
    /* 使超链接成为块元素 */
    display: block;
    font-size: 16px;
    margin-right: 20px;
    padding: 0 30px;
}
.nav-wrapper li a:hover{
    color: #ff6700;
}

/* 隐藏全部商品 */
.all-goods{
    /* 隐藏仍然占据页面位置 */
    visibility: hidden;
}

.nav .goods-info{
    /* height: 228px; */
    height: 0;
    overflow: hidden;
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 100px;
    left: 0;
    transition: height 0.3s;
    z-index: 9999;
}

/* .nav li:not(:first-of-type):not(:nth-child(10)):not(:nth-child(9)):hover ~ .goods-info, */
.nav .show-goods:hover ~ .goods-info,
.goods-info:hover {/* 下拉不消失 */
    height: 228px;
    border-top: 1px solid rgb(224, 224, 224);
    box-shadow: 0 5px 3px rgba(0, 0, 0, .2);
}

/* 设置搜索框的容器 */
.search-wrapper{
    width: 296px;
    height: 50px;
    float: right;
    margin-top: 25px;
}

.search-wrapper .search-inp{
    box-sizing: border-box;
    width: 244px;
    border: none;
    float: left;
    padding: 0 10px;
    height: 50px;
    font-size: 16px;
    border: 1px solid rgb(224, 224, 224);
    outline: none;
}

/* 设置input获取焦点后的样式 */
.search-wrapper .search-inp:focus,
.search-wrapper .search-inp:focus + button{
    border-color: #FF6700;
}

.search-wrapper .search-btn{
    float: left;
    height: 50px;
    width: 52px;
    padding: 0;
    border: none;
    background-color: #fff;
    color: #616161;
    font-size: 16px;
    border: 1px solid rgb(224, 224, 224);
    border-left: none;
}

.search-wrapper .search-btn:hover{
    background-color: #FF6700;
    color: white;
    border: none;
}